.e2m-login {
  padding: 40px 16px;
  background-image: linear-gradient(to bottom, #e60000, #990000);
  height: 100vh;
  &__title {
    margin: 0 auto;
    width: 190px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    strong {
      display: inline-block;
      margin-bottom: 12px;
    }
  }
  &__media{
    width: 390px;
  }
}

/*
.e2m-container {
  padding: 16px;
}
.e2m-layout {
  height: 100vh;

  .e2m-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 24px;
      padding-top: 38px;
    }

    img {
      padding: 12px 0 40px 0;
    }
  }

  .e2m-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 0 16px 24px;
    position: relative;


    span#label {
      color: #333;
    }

    img {
      position: absolute;
      top: -63px;
      width: 135px;

    }


    .slide1 {
      animation: fade 4s infinite;
      -webkit-animation: fade 4s infinite;

    }

    .slide2 {
      animation: fade2 4s infinite;
      -webkit-animation: fade2 4s infinite;
    }

    .slide3 {
      animation: fade3 4s infinite;
      -webkit-animation: fade3 4s infinite;
    }

    @keyframes fade {
      0% {
        opacity: 1
      }
      33.333% {
        opacity: 0
      }
      66.666% {
        opacity: 0
      }
      100% {
        opacity: 1
      }
    }
    @keyframes fade2 {
      0% {
        opacity: 0
      }
      33.333% {
        opacity: 1
      }
      66.666% {
        opacity: 0
      }
      100% {
        opacity: 0
      }
    }
    @keyframes fade3 {
      0% {
        opacity: 0
      }
      33.333% {
        opacity: 0
      }
      66.666% {
        opacity: 1
      }
      100% {
        opacity: 0
      }
    }


    .vfes-button {
      margin-top: 35px;
      padding: 15px 0;
      background-color: #ccc;
      font-size: 18px;
      width: 100%;
      color: #fff;

      &.vfes-button--primary {
        background-color: #E60000;
        color: white;
      }
    }


    .vfes-form__switch-label {
      margin-right: 10px;
    }
  }

  .vfes-form__box {
    margin-bottom: 15px;
  }

  .vfes-form__box:nth-child(1) {
    margin-top: 81px;
  }

  .vfes-form-flex {
    color: #333;
    display: flex;
    justify-content: space-between;
  }

  .vfes-form-flex--top {
    margin-top: 30px;
    color: #333;
    display: flex;
    justify-content: space-between;
  }

  .vfes-form__error-text {
    display: block !important;
    color: #E60000;
  }

  .e2m-link {
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-decoration: underline;
    width: 100%;
    margin-top: 40px;
  }
}
*/



