<!-- WELCOME TO EAT2MEET -->

<div class="e2m-login">
  <section class="e2m-wrapper">

    <h1 class="e2m-login__title">
      <strong>Bienvenid@ a</strong>
      <img class="e2m-login__media"
           src="./assets/svg/logo-e2m-login.svg"
           alt="EAT2MEET">
    </h1>
    <article>
      <form action=""
            class="e2m-form e2m-card"
            [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="e2m-login__banner">
          <figure>
            <img class="e2m-login__plate" src="assets/img/icons-login/plato-01-80px.png" alt>
            <img class="e2m-login__plate" src="assets/img/icons-login/plato-02-80px.png" alt>
            <img class="e2m-login__plate" src="assets/img/icons-login/plato-03-80px.png" alt>
          </figure>
        </div>
        <fieldset>
          <legend class="visually-hidden">Login de usuario</legend>
          <div class="e2m-form__group">
            <input class="e2m-form__field"
                   type="email"
                   name="email"
                   aria-label="Escriba el mail"
                   formControlName="email">
            <span class="e2m-form__text">e-mail</span>
            <p *ngIf="loginForm.controls['email'].valid" class="e2m-form__check">
              <img src="assets/img/icons-login/tick-solved-green.svg" alt>
              <span class="visually-hidden">El campo esta correctamente rellenado</span>
            </p>
            <p *ngIf="isMailValid" class="e2m-form__error">
              <img src="assets/img/icons-login/tick-error.svg" alt>
              <span *ngIf="loginForm.controls['email'].errors.required">El campo es obligatorio</span>
              <span *ngIf="loginForm.controls['email'].errors.pattern">Necesitas un mail de Vodafone para poder
                logarte</span>
            </p>
          </div>
          <div class="e2m-form__group">
            <input class="e2m-form__field"
                   type="password"
                   name="pass"
                   aria-label="Escriba la contraseña"
                   formControlName="password">
            <span class="e2m-form__text">Contraseña</span>
            <p *ngIf="loginForm.controls['password'].valid"
               class="e2m-form__check">
              <img src="assets/img/icons-login/tick-solved-green.svg" alt>
              <span class="visually-hidden">El campo esta correctamente rellenado</span>
            </p>
            <p *ngIf="isPasswordValid" class="e2m-form__error">
              <img src="assets/img/icons-login/tick-error.svg" alt>
              <span>Feedback de error en el campo</span>
            </p>
          </div>
          <div class="e2m-form__group">
            <input id="remenber"
                   class="e2m-form__radio"
                   type="checkbox"
                   name="remenber"
                   aria-label="Recordar contraseña">
            <label for="remenber"
                   class="e2m-form__toggle">
              Recuérdame
              <span class="visually-hidden">. Quiero recordar mi contraseña</span>
            </label>
            <a class="e2m-login__link" href="#Page-recovery-password"
               aria-label="Acceder a la página de recuración de contraseña. Abre en ventana nueva">
              ¿Has olvidado tu contraseña?</a>
          </div>
        </fieldset>
        <button class="e2m-btn"
                type="submit"
                aria-label="Acceder a eat 2 meet"
        > Bon apetit
        </button>
      </form>
      <a class="e2m-login__register" href="#URL-RESGISTER"
         aria-label="Acceder al registro de usuario. Abre en ventana nueva">¿No estás registrado?</a>
    </article>
  </section>
</div>
