.e2m-header {
  padding: 12px 16px;
  min-height: 48px;
  box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  &__logo {
    width: 25px;
    height: 25px;
    margin-right: 25px;
  }
  &__link {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    &:focus {
      outline: none;
      padding-bottom: 4px;
      border-bottom: 1px solid #e60000;
    }
  }
}
