/*------------------------------------
    # ELEMENT BODY
------------------------------------*/
body {
	position                    : relative;
	color                       : $color-vodafone-gray;
	background-color            : $color-vodafone-white;
	-webkit-text-size-adjust    : 100%;
}

/*------------------------------------
   # END ELEMENT BODY
------------------------------------*/
