/*==================================
    # ELEMENT HTML
====================================*/

html {
	font-family                 : $font-family-vodafone-regular;
	font-size 					: $font-size-default + px;
	line-height 				: $line-height-text;
	min-height 					: 100%;
	-webkit-text-size-adjust 	: 100%;
	-ms-text-size-adjust 		: 100%;
	position  					: relative;
}


/*==================================
    # END ELEMENT HTML
====================================*/
