<div class="vfes-layout__item">
    <div class='vfes-carousel' #templateCarousel data-config='{"responsive":{"0":{"breakpoint":0,"elements":1}},"build":{"arrows":false,"bullets":true,"clickable_bullets":true}}'>
        <ul class='vfes-carousel__list js-carousel-list'>
            <li class='vfes-carousel__list-element js-carousel-list-element'>
                <img [src]='generateURL("icons-info-mesa/dancing_man.png")' alt="logo por defecto">
                <p class="vfes-mt">Conoce gente nueva mientras comes</p>
            </li>
            <li class='vfes-carousel__list-element js-carousel-list-element'>
                <img [src]='generateURL("icons-registro/dish.png")' alt="logo por defecto">
                <p class="vfes-mt">Tendrás tu mesa reservada a la hora elegida</p>
            </li>
            <li class='vfes-carousel__list-element js-carousel-list-element'>
                <img [src]='generateURL("icons-info-mesa/clock.png")' alt="logo por defecto">
                <p class="vfes-mt">Tienes hasta las 12:00 para cancelar. ¡No falles!</p>
            </li>
        </ul>
    </div>
</div>
