<app-carousel [config]="configSrc" class="e2m-slide">
  <app-carousel-item>
    <div class="e2m-slide__item">
      <img class="e2m-slide__media"[src]='generateURL("icons-info-mesa/dancing_man.png")' alt="logo por defecto">
      <p class="vfes-mt">Conoce gente nueva mientras comes</p>
    </div>
  </app-carousel-item>
  <app-carousel-item>
    <div class="e2m-slide__item">
      <img class="e2m-slide__media"[src]='generateURL("icons-registro/dish.png")' alt="logo por defecto">
      <p class="vfes-mt">Tendrás tu mesa reservada a la hora elegida</p>
    </div>
  </app-carousel-item>
  <app-carousel-item>
    <div class="e2m-slide__item">
      <img class="e2m-slide__media"[src]='generateURL("icons-info-mesa/clock.png")' alt="logo por defecto">
      <p class="vfes-mt">Tienes hasta las 12:00 para cancelar. ¡No falles!</p>
    </div>
  </app-carousel-item>
</app-carousel>
