.#{$ns-prefix}card-subticket {
    .#{$ns-prefix}card {
        overflow: initial;
        background-color: $colours-vodafone-white;
    }

    .#{$ns-prefix}button {
        width: 100%;
    }

    &__bg::after {
        content: '';
        position: absolute;
        bottom: -23px;
        width: calc(100% + 8px);
        height: 25px;
        left: -8px;
        background-image: url("data:image/svg+xml,%3Csvg width='396px' height='42px' viewBox='0 0 396 42' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 57.1 (83088) - https://sketch.com --%3E%3Ctitle%3ESlice 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='8 6.64453125 388 6.64453125 388 32 376.964042 21.7569444 366.436745 32 355.909449 21.7569444 345.382152 32 334.854856 21.7569444 324.327559 32 313.800262 21.7569444 303.272966 32 292.745669 21.7569444 282.218373 32 271.691076 21.7569444 261.16378 32 250.636483 21.7569444 240.109186 32 229.58189 21.7569444 219.054593 32 208.472441 21.7569444 198 32 186.964042 21.7569444 176.436745 32 165.909449 21.7569444 155.382152 32 144.854856 21.7569444 134.327559 32 123.800262 21.7569444 113.272966 32 102.745669 21.7569444 92.2183727 32 81.6910761 21.7569444 71.1637795 32 60.6364829 21.7569444 50.1091864 32 39.5818898 21.7569444 29.0545932 32 18.4724409 21.7569444 8 32'%3E%3C/polygon%3E%3Cfilter x='-3.4%25' y='-43.4%25' width='106.8%25' height='202.5%25' filterUnits='objectBoundingBox' id='filter-2'%3E%3CfeOffset dx='0' dy='2' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='4' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0' type='matrix' in='shadowBlurOuter1'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Rectangle-Copy-4' fill-rule='nonzero' transform='translate(198.000000, 19.322266) rotate(-360.000000) translate(-198.000000, -19.322266) '%3E%3Cuse fill='black' fill-opacity='1' filter='url(%23filter-2)' xlink:href='%23path-1'%3E%3C/use%3E%3Cuse fill='%23FFFFFF' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: repeat-x;
        background-position-y: 120%;

    }

    .#{$ns-prefix}paragraph {
        margin-bottom: 0;
    }

    &__title {
        padding: 16px;
    }

    &__content {
        padding: 18px 16px;
        border-bottom: 1px solid $colours-silver;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:last-of-type {
            border: 0;
        }

        &:first-of-type {
            border-top: 1px solid $colours-silver;
        }

        &--subprice {
            padding-left: 32px;
        }
    }
}