.#{$ns-prefix}pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &__box {
        border: 1px solid $color-dusty-gray;
        padding: 8px 12px;
        border-radius: 3px;
    }

    &__control {
        background: transparent;
        border: 0;
        box-shadow: 0 0 0 0 transparent;
        padding: 0;
        width: 40px;
        height: 40px;
    }

    &__control--left {
        margin-right: 46px;
    }

    &__control--right {
        margin-left: 46px;
    }

    .#{$ns-prefix}paragraph {
        margin-right: 16px;
        padding-top: 8px;
        &:last-of-type {
            margin-right: 0;
        }
    }
}