$border-width-small: 1px;
$border-width-medium: 2px;
$border-width-medium-large: 3px;
$border-width-large: 4px;

$border-arrow-width-small: 5px;
$border-arrow-width-medium: 10px;
$border-arrow-width-large: 15px;
