$font-size-h1: 			64px !default;
$font-size-h1-mobile: 	32px !default;
$font-size-h2: 			56px !default;
$font-size-h2-mobile: 	28px !default;
$font-size-h3: 			40px !default;
$font-size-h3-tablet: 	34px !default;
$font-size-h4: 			28px !default;
$font-size-h5-large: 	24px !default;
$font-size-h5: 			20px !default;
$font-size-text-large: 	18px !default;
$font-size-text: 		16px !default;
$font-size-text-small: 	14px !default;
