// Primary colours
$colours-vodafone-red: #E60000;
$colours-vodafone-gray: #4A4D4E;
$colours-vodafone-white: #FFFFFF;

//Secondary colours
$colours-turqoise: #007C92;
$colours-aqua-blue: #00B0CA;
$colours-albergine: #5E2750;
$colours-red-violet: #9C2AA0;
$colours-spring-green: #A8B400;
$colours-fresh-orange: #EB9700;
$colours-lemon-yellow: #FECB00;

//Digital
$colours-digital-green: #009900;
$colours-maroon: #990000;
$colours-pink: #f28080;
$colours-dark-red: #BD0000;
$colours-green-hoverSDK:#285200;
$colours-green-hoverSDKdark:#326700;


//Monochrome
$colours-black: #000000;
$colours-midnight: #222222;
$colours-dark-gray: #333333;
$colours-anthracite: #666666;
$colours-mid-gray: #999999;
$colours-platinum: #AFAFAF;
$colours-silver: #CCCCCC;
$colours-aluminium: #EBEBEB;
$colours-light-gray: #F4F4F4;

// TV
$colours-seriefans: #BA6ABD;
$colours-serielovers: #721E75;
$colours-cinefans: $colours-aqua-blue;
$colours-documentales: $colours-spring-green;
$colours-peques: $colours-lemon-yellow;
$colours-deportes: $colours-turqoise;
$colours-musica: $colours-fresh-orange;
$colours-caza-pesca: #955C23;
$colours-yu: $colours-vodafone-red;
$colours-latinos: #EA0F80;
$colours-mas-18: #FF8CD0;
$colours-bienestar: #FF6B00;
$colours-universal: $colours-digital-green;
$colours-netflix: $colours-black;
