@mixin paragraphs {
	// color: inherit;
	font-size: $font-size-text;
	font-family: $font-family-vodafone-regular;
	font-weight: $font-weight-normal;
	line-height: $line-height-text;
	margin: 0 0 12px 0;

	&:last-child {
		margin-bottom: 0;
	}
}
