
<div class="e2m-reset">
  <section class="e2m-wrapper">
    <h1 class="e2m-reset__title">{{title}}</h1>
  </section>
  <article>
    <form action=""
          class="e2m-form e2m-card e2m-reset__form"
          [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend class="visually-hidden">Login de usuario</legend>
        <div class="e2m-form__group">
          <input class="e2m-form__field"
                 type="email"
                 name="email"
                 aria-label="Escriba el mail"
                 formControlName="email">
          <span class="e2m-form__text">Te email</span>
          <p *ngIf="loginForm.controls['email'].valid" class="e2m-form__check">
            <img src="assets/img/icons-login/tick-solved-green.svg" alt>
            <span class="visually-hidden">El campo esta correctamente rellenado</span>
          </p>
          <p class="e2m-form__error">
            <img src="assets/img/icons-login/tick-error.svg" alt>
            <span *ngIf="loginForm.controls['email'].errors.required">El campo es obligatorio</span>
            <span *ngIf="loginForm.controls['email'].errors.pattern">Necesitas un mail de Vodafone para poder
                logarte</span>
          </p>
        </div>
      </fieldset>
      <button class="e2m-btn"
              type="submit"
              aria-label="Acceder a eat 2 meet"
      > {{btnText}}
      </button>
    </form>
    <article class="e2m-card e2m-reset__confirm">
      <p class="e2m-reset__textconfirm">{{textConfirm}}</p>
    </article>
  </article>
</div>
