@each $vf-font-family, $vf-font-path, $vf-font-path-local in $font-list-vodafone {
	@font-face {
		font-family: $vf-font-family;
		src: url($vf-font-path + ".eot");
		src: url($vf-font-path + ".eot?#ie-fix") format("embedded-opentype"),
		url($vf-font-path + ".woff") format("woff"),
		url($vf-font-path-local + ".woff") format("woff");
		font-style: normal;
		font-weight: 400;
	}
}
