
<div class="cont">
    <div class="title">
        <h1>Estamos buscando tu mesa...</h1>
    </div>
</div>

<div class="cont">
    <img class="image" src="assets/img/icons-esperando-mesa/mantel.png">
</div>

<div class="platos plato1">
    <img src="assets/img/icons-esperando-mesa/plato-01-120px.png">
</div>

<div class="platos plato2">
    <img src="assets/img/icons-esperando-mesa/plato-02-120px.png">
</div>

<div class="button">
    <button type="button" class="vfes-button vfes-button--secondary">Cancelar</button>
</div>

<template>
    <div class="cont">
        <div class="title">
            <h1>¡Mesa reservada!</h1>
        </div>
    </div>

    <div class="image">
        <img src="assets/img/icons-esperando-mesa/mantel.png">
    </div>

    <div class="button">
        <button type="button" class="vfes-button vfes-button--primary">Ver mesa</button>
    </div>
</template>
