/* You can add global styles to this file, and also import other style files */
$font-local-path: './assets/fonts/';
$columns-widths-delimiter-default: \/;
// LOAD VERSION WS10
@import '@vodafone-es/web-simplicity-2-reboot/resources/assets/styles/08-angular/_angular.required.ws10.scss';
@import '@vodafone-es/web-simplicity-2-reboot/resources/assets/styles/08-angular/_angular.ws10.scss';



// wrapper

.e2m-wrapper{
 max-width: 640px;
 min-width: 360px;
 margin: auto;
 padding: 0 16px;
}


// MODAL

.e2m-modal{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background-color: white;
  z-index: 9999;
  text-align: center;
  &__close{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-family: "VodafoneLight", Helvetica, Arial, sans-serif;
  }
  &__title{
    padding: 0 32px;
  }
  &__media{
    margin-bottom: 16px;
  }
  &__text{
    margin-bottom: 30px;
  }
}
