<form [formGroup]="altaForm">

    <ul class="list-group">
        <li class="list-group-item">
          <input type="radio"
                 formControlName="meetType"
                 name="meetType"
                 value="grupal"
                 ngModel
                 checked/>
                 Grupal<!-- [(ngModel)]="meetTypeSelected"-->
        </li>
        <li class="list-group-item">
          <input type="radio"
                 formControlName="meetType"
                 name="meetType"
                 value="one"
                 ngModel/>
                 Individual <!--[(ngModel)]="meetTypeSelected"-->
        </li>
    </ul>

    <p>Quiero comer una persona de...</p>
    <select class="custom-select"  formControlName="departament">
        <option value="" disabled>Selecciona un departamento</option>
        <option *ngFor="let dep of departamentos" [value]="">{{dep}}</option>
    </select>

    <p>Mi horario preferido es...</p>
    <ul class="list-group">
        <li class="list-group-item">
          <input type="radio" formControlName="radioTime" name="time" value="first_turn"/>
          De 13:00 a 14:00 horas<!-- [(ngModel)]="meetTypeSelected"-->
        </li>
        <li class="list-group-item">
          <input type="radio" formControlName="radioTime" name="time" value="second_turn"/> <!--[(ngModel)]="meetTypeSelected"-->
          De 14:00 a 15:00 horas
        </li>
    </ul>

    <div>
      <p>Recuerda que puedes cancelar tu reserva antes de las 12:00</p>
    </div>

    <button class = "button-submit button-submit--red"
    type = "submit">Voy a tener suerte!</button>

  <!-- <input type="radio" formControlName="meetType" value="grupal" checked="true">
  <input type="radio" formControlName="meetType" value="one"> -->
<!--
      <input formControlName="gender" type="radio">
      <div class="radio">
          <label>
              <input type="radio" name="gender" value="Male" [checked]='true' ngModel>

              Male
          </label>
      </div>
      <div class="radio">
          <label>
              <input type="radio" name="gender" value="Female" ngModel>
              Female
          </label>
      </div> -->
</form>
